<div class="boxcontainer">
  <div class="productimage">
    <img src="{{singleProduct.image}}" alt="" id="img" #imageSlide>
  </div>
  <div class="productdetails">
    <h3>{{singleProduct.title}}</h3>
    <p>{{singleProduct.description}}</p> <br>
    <strong>Price:{{singleProduct.price|currency:'INR'}} </strong> <br>
    <ul>
     <li> Care Instructions: Dry Clean Only</li>
     <li>Fit Type: Regular </li>
     <li>Wash Care: Dry Clean Only </li>

    </ul>
    <div class="imgcontainer">
      <img src="{{singleProduct.image}}" alt="" (mouseenter)="productImage1(singleProduct)" >
      <img src="{{singleProduct.image2}}" alt="" (mouseenter)="productImage2(singleProduct)" >
      <img src="{{singleProduct.image3}}" alt="" (mouseenter)="productImage3(singleProduct)">
      <img src="{{singleProduct.image4}}" alt=""(mouseenter)="productImage4(singleProduct)">
    </div>
    <div class="size">
      <select name="" id="size" (change)="sizeOfProduct($event)" >
        <option value=""> size</option>
        <option type="button" value="S" > S
          <option type="button" value="M" >M
          <option type="button" value="L">L
          <option type="button" value="XL" >XL
      </select>

    </div>
    <span><strong href="#" class="chart">
      <span class="material-symbols-outlined">
        straighten
        </span>
      Size chart</strong></span>
        <br>
      <span>Quantity
        <select name="" id="" (change)="quantityOfProduct($event)">
          <option value="">No of Product</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </span>
      <br>
    <button class="btn btn-dark" (click)="addToCart(singleProduct)">Add to cart</button>
    <br> <br>
  </div>
  <div class="produtinfo">
  <div class="offerdiv">

    <marquee behavior="" direction="right">
<span class="material-symbols-outlined">
      trending_up
      </span>
      <strong>Sale</strong>
    </marquee>
  </div>

  <div class="offers">

    <div class="box1">
    <strong>No cost Emi</strong> <br>
    <small>No Cost EMI
      Upto ₹190.35 EMI interest savings  </small>
    </div>
    <div class="box2">
     <strong>Bank Offer</strong> <br>
    <small>Get GST invoice and save up to 28% on business purchases.</small>
    </div>
    <div class="box3">
    <strong>Patner Offer</strong> <br>
    <small>Upto ₹224.95 discount on HSBC Bank Credit Cards</small>
    </div>
  </div>
  <div class="line"></div>
<div class="delivery">
  <span class="material-symbols-outlined">
    local_shipping
    </span>
    <span class="material-symbols-outlined">
      payments
    </span>

    <span class="material-symbols-outlined">
      assignment_return
    </span>
    <br>
    <a href="#">Free Delivery</a>
    <a href="#">Pay on Delivery</a>
    <a href="#">30 days Return & Exchange</a>
<br>
<br>
<div class="reviews">
<h3>Customer reviews</h3>
<ngb-rating [max]="5" [readonly]="true" [rate]="finalRating"></ngb-rating>
<div *ngIf="finalRating">
  {{finalRating}} out of 5
  Ratings from {{ratingCount}} users
</div>
<div *ngIf="!finalRating">
 <p>Be the first one to rate this product</p>
</div>
<br> <br>

</div>

</div>
  <div class="line"></div>
</div>
</div>
<br>
<div class="yourReview">
  <div>
    <h3>Top Reviews from India</h3>
  </div>
  <div>
    <h3>Rate this Product</h3>
    <ngb-rating [max]="5"  (click)="getRating()" [formControl]="ratingControl"></ngb-rating>
    <h6>Write a Reivew comment</h6>
    <input type="text" id="Customerreview">
  <br>
    <button type="submit" class="btn btn-dark" (click)="postingReviewComment($event)">Post</button>
  </div>
  </div>

  <h3 class="recomendedTitle">Products related to this item</h3>
<div class="recommendedProducts">
  <div *ngFor="
  let product of recommendedProducts|paginate
  :{
    itemsPerPage:5,
    currentPage:pagination

  }
  ">
<div class="container">
  <div class="card">
    <img src="{{product.image}}" alt="">
    <small class="cardTitle">{{product.title}}</small>
    <span>
      50% offer
    </span>
    <s><small class="text-danger">Price:{{product.price|currency:"INR"}}</small></s>
    <strong>Price:{{product.price/2|currency:"INR"}}</strong>
  </div>

</div>
</div>
<div id="pagination">
  <pagination-controls (pageChange)="pagination = $event" class="float-right" ></pagination-controls>
</div>
</div>
<br>
<br>
