<br>

<ng-container *ngIf="DispatchProductsDetails.length!=0">
  <div class="order">
    <h2 >Your Orders</h2>
    <span>Total Number of orders :
     <i class="noOfOrders">{{DispatchProductsDetails.length}} </i>
    </span>
  </div>
  <div class="orderGrid">

    <div class="card" *ngFor="let item of DispatchProductsDetails; let i=index">
      <div>Order No {{i+1}}</div>
    <br>
    <div id="orderDetail">
    <div><img src="{{item.image}}" alt=""></div>
    <div class="address">
      <div>
        <strong> {{item.title}} </strong>
      </div> <br> <br>
      <div>Order Placed On: {{item.orderPlacedOn}}</div>
      <br>
      <div>
        Delivered to:
        <br>
        {{item.address}}</div>
      <br>

      <div><strong>Total Cost : {{item.totalAmount|currency:"INR"}}</strong></div>
    </div>
    </div>
</div>
</div>
</ng-container>



<div class="containerDiv">
  <div class="container" *ngIf="DispatchProductsDetails.length==0">
    <div class="card">
      <h5 class="card-title">My orders</h5>
    </div>
    <div class="center">
      <img src="https://img1a.flixcart.com/www/linchpin/checkout/prod/EmptyCart-7870c340.svg" alt="">
      <h4>No orders placed</h4>
      <h6>Add item to it now</h6>
     <a href="mens"><button class="btn btn-dark">Shop now</button></a>
    </div>
  </div>
</div>



<br>
<br>
<br>
