
      <div class="card " (click)="productView(products.id)">
        <img src="{{products.image}}" alt="image">
        <h5 class="productTitle">{{products.title}}</h5>
        <p class="productDescribtion">{{products.description}}</p>
        <p><strong>Price: </strong> {{products.price|currency:"INR"}}</p>

        <div *ngIf="products.Quantity==0 || !cart.addedToCart">
          <!-- <button class="btn btn-warning cartbtn" (click)="addToCart(products)">Add to cart</button> -->
          <button class="btn btn-warning cartbtn">View Product</button>
      </div>



        <br>
        <div *ngIf="(cart.productIdCheck(products.id))" >
          <span class="material-symbols-outlined green">
            check_circle
            </span> Added to Cart
         </div>
      </div>



