
      <div class="card ">
        <img [src]="products.image" alt="">
        <h5 class="productTitle">{{products.title}}</h5>
        <p class="productDescribtion">{{products.description}}</p>
        <p><strong>Price: </strong> {{products.price|currency:"INR"}}</p>

        <div *ngIf="products.Quantity==0 || !cart.addedToCart">
          <button class="btn btn-warning cartbtn" (click)="addToCart(products)">Add to cart</button>
      </div>

        <div *ngIf="(products.Quantity>0|| cart.addedToCart) &&  products.id===cart.productId ||cart.addedToCart">
          <br>
                 <div class="add">
                   <button class="btn "(click)="removeCartItemCount(products)" [disabled]="products.Quantity<=0">-</button>
                   {{products.Quantity}}
                   <button class="btn "(click)="addToCartCount(products)"> +</button>
                 </div>
             </div>

        <br>
        <div *ngIf="(cart.productIdCheck(products.id))" >
          <span class="material-symbols-outlined green">
            check_circle
            </span> Added to Cart
         </div>
      </div>



