<nav class="navbar nav">
  <div class="container-fluid">
    <h2 style="color: aliceblue;">Amazon</h2>


        <input type="search" id="form1" class="form-control search" placeholder="Search"  (keyup)="search($event)"/>
        <span class="material-symbols-outlined searchbtn">
          search
          </span>
    <div class="d-flex align-items-center cart ">
      <ng-container *ngIf="user.getUserName()">
        <span class="user">Hello,{{user.getUserName()}}</span>
      </ng-container>
     <a href="/checkout" id="orders"><div class="return">Returns &  <br> Orders</div></a>

      <span class="material-symbols-outlined" (click)="navigateToCart()">shopping_cart</span>
      Cart

      <span style="font-size: 10px; " class="badge bg-danger">{{cart.totalItems}}</span>
      <button *ngIf="user.getUserName()" class="btn btn-outline-danger logout" (click)="user.logout()">Logout</button>
    </div>



  </div>
  </nav>
<nav>
  <ul class="nav justify-content-around align-items-center " id="nav2">
    <li class="nav-item">
      <a class="nav-link active" routerLink="" routerLinkActive="Active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="mens">Mens</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="women">woman</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="kids">Kids</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="Gifts">Gift Cards</a>
    </li>
    <li>
      <a routerLink="greatDeals" class=" nav-link d-flex">Shop great deals now</a>
    </li>
  </ul>
</nav>

