
<div class="center">
  <div class="registerForm">
    <form class="shadow p-3 mb-5 bg-white rounded" [formGroup]="registrationForm">
      <h3 class="fluid-container">Register</h3>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" formControlName="firstName" placeholder="First name" name="firstName" required>
          <small class="text-danger" *ngIf="registrationForm.get('firstName')?.invalid &&registrationForm.get('firstName')?.touched">First name is mandatory</small>
      </div>

      <div class="col">
        <input type="text" class="form-control" formControlName="lastName" name="lastName" placeholder="Last name">
        <small class="help-text" *ngIf="registrationForm.get('lastName')?.invalid &&registrationForm.get('lastName')?.touched"></small>

      </div> <br>

      <div> <br>
        <input type="text" class="form-control" formControlName="mobileNumber" name="mobileNumber" placeholder="Mobile Number" type="number" pattern="[0-9]{10}">
        <small class="text-danger" *ngIf="registrationForm.get('mobileNumber')?.touched &&! registrationForm.get('mobileNumber')?.dirty"> Mobile Number is Required</small>
        <small class="text-danger" *ngIf="registrationForm.get('mobileNumber')?.invalid && registrationForm.get('mobileNumber')?.dirty">Mobile Number must be 10 digits</small>


        <div> <br>
          <input type="text" class="form-control" formControlName="email" placeholder="Email" name="email" type="email" required>
          <small class="help-text" *ngIf="registrationForm.get('email')?.touched &&! registrationForm.get('email')?.dirty  " class="text-danger"> Email is required</small>
          <small class="text-danger" *ngIf="registrationForm.get('email')?.touched && registrationForm.get('email')?.errors?.['email']">Email Must Start with A-z and should have @</small>
          <small class="text-danger" *ngIf="notUniqueEmail">Email address is already in use. Please choose another</small>

        </div>


        <div> <br>
          <input type="text" class="form-control" formControlName="password" placeholder="Password" name="password" type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
          <small class="text-danger" *ngIf="registrationForm.get('password')?.touched &&! registrationForm.get('password')?.dirty">Password is required</small>
          <small class="text-danger" *ngIf="registrationForm.get('password')?.dirty&&registrationForm.get('password')?.errors?.['minlength']">Password should contain
            <br>Minimum eight characters, at least one letter,
            <br>one number and one special character

          </small>

        </div>
      </div>
      <div> <br>
        <input type="text" class="form-control" formControlName="address" placeholder="Address" name="address" type="address" >
        <small class="text-danger" *ngIf="registrationForm.get('address')?.touched &&! registrationForm.get('address')?.dirty">Address is required</small>
        <small class="text-danger" *ngIf="registrationForm.get('address')?.dirty&&registrationForm.get('address')?.errors?.['minlength']">Address should contain atleast 10 characters
        </small>

      </div>
  <div> <br>
  <small>By enrolling your mobile phone number, you consent to receive automated security notifications via text message from Shopzon. Message and data rates may apply.</small>
  </div>
  </div> <br>
    <button type="submit" class="btn btn-warning" (click)="onSignup()"
    [disabled]="registrationForm.untouched || registrationForm.invalid"


    >Continue</button>
  </form>
  </div>
  </div>
  <br>
  <br><br>
  <br><br>
